<!DOCTYPE html>

  <!-- Seleccion de cliente y muestra de sus datos -->
  <form [formGroup]="form" (ngSubmit)="enviar()">
    <div>
      <label for="idCliente">Cliente: </label>
      <select id="idCliente" formControlName="idCliente" required>
        <option value="" disabled selected>Selecciona un cliente...</option>
        <option *ngFor="let cliente of clientes" [value]="cliente.id">
          {{ cliente.nombre }}
        </option>
      </select>
      
    </div>
  
    <button type="submit">Enviar</button>
  </form>

    <!-- Tabla Pedidos -->
    <table>
      <thead>
        <tr>
          <th scope="col">ID Pedido</th>
          <th scope="col">ID Producto</th>
          <th scope="col">Estatus</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
    <tbody>
    <tr *ngFor="let pedido of pedidos; let i = index">
        <th scope="row">{{i+1}}</th>
        <td hidden>{{pedido.id}}</td>
        <td>{{pedido.idProducto}}</td>
        <td>{{pedido.idEstatus}}</td>
        <td>{{pedido.total}}</td>
    </tr>
    </tbody>
  </table>




  
  <!-- <table>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; let i = index">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.telefono}}</td>
      </tr>
    </tbody>
    </table> -->